body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    margin-top: 40px;
  }
  
  #drivers-standings,
  #constructors-standings {
    display: inline-block;
    width: 45%;
    margin-top: 20px;
    margin-bottom: 40px;
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  .table-header {
    font-weight: bold;
  }
  
  .table-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .table-row:nth-child(even) {
    background-color: #f2f2f2;
  }
  